@font-face { font-family: Gotham-light; src: url('/fonts/gotham/GOTHAM-LIGHT.TTF'); } 
@font-face { font-family: Gotham-bold; src: url('/fonts/gotham/GOTHAM-BOLD.TTF'); } 
@font-face { font-family: Gotham-light-italic; src: url('/fonts/gotham/GOTHAM-LIGHTITALIC.TTF'); } 
h1,h2,h3,h4,h5{
  font-family: Gotham-bold
}
p,li,div{
  font-family: Gotham-light
}
.gotham-light {
font-family: Gotham-light
}
.gotham-bold {
font-family: Gotham-bold
}
.gotham-light-italic {
font-family: Gotham-light-italic
}
#crear-container{
  height: 585px;
  background: url(/img/foto-inicial.jpg);
  background-position: center center;
  background-size: 100% 105%
}
#crear-img{
  width: 66em;
  height: 16em;
}
/*#crear-img-container{
  position: absolute;
  top: 12%
}*/
#logo-grande-container{

}
#logo-grande-img{
  width: 100%;
  height: auto;
}
#quienes-somos, #capacitaciones{
  background: url(/img/fondo-02.jpg);
  height: 45em;
  background-size: 100% 116%
}
#quienes-somos-descr-container{
  position: relative;
  top: 4em
}
#que-hacemos{
  background-color:rgba(242,244,223,1);
  height: 40em;
}
#que-hacemos-img{
  background-image: url("/img/barra-verde.png");
  background-size: 100% 100%;
  height:20%;
  padding-left: 2em;
  padding-top: 1.3em;
}
.quienes-somos-title{
  font-size: 2.8em;
}
.quienes-somos-ul{
  font-size: 1.5em;

}
.text-verde-oscuro{
  color:rgb(75, 90, 32);
}
#equipo{
  height: 55em;
  background-image: url(/img/fondo-equipo-02.jpg);
  background-size: 100% 100%
}
#equipo-title{
  background-image: url("/img/barra-blanca-01.png");
  background-size: 100% 100%;
  position: relative;
  top: 1.5em; 
  height: 22%;
  padding-top: 2.4em;
  padding-left: 2em;
}
.equipo-img{
  width: 75%;
  height:auto;
}
#equipo div div .img-fluid{
  max-width:80%
}
.equipo-text{
  color: rgb(64, 66, 61);
  font-size: 1em
}
#partners{
  height: 40em;
  background: rgba(236,236,236,1)
}
#partners-container{
  position:relative
}
#partners-img{
  position: absolute;
  top:35%;
  left:1%;
  width: 99%
}
#partners-title{
  font-size: 3em;
}
#capacitaiones-title-container{
  display: block;
  background: rgba(236,236,236,1);
  height: 4em;
}
#capacitaciones-title{
  padding-top: 0.5em;
}
.capacitaciones-img{
  height:27em;
}
#slider{
  height: 40em;
}
.carousel-inner{
  height: 100%;
}
#servicios{
  background: linear-gradient(#fffbdb, #FFFFFF);
  height: 90em;
}
#servicios-title{
  background: white;
}
.servicios-img{

}
.servicios-text-container{
  position: absolute;
  top: 15%;
  left: 10%;
  font-size: 2em;
  color: white;
  width: 80%;
  height: 76%;
}
.servicios-text-align-container{
  display: table;
  height: 100%; 
  width:100%;
  overflow: hidden;
}
.servicios-text-align{
  display: table-cell; vertical-align: middle;
  cursor: pointer;
}
.servicios-text{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
}
#contacto-container{
  background-image: url("/img/circulo-contacto.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  width: 20em;
  height:20em;
  background-position: center;
  display: table-cell; vertical-align: middle;
}
#contacto-text{
  display: inline-block;
  vertical-align: middle;
  line-height: normal;
  width: 100%;
}
.communication-channel-text{
  margin-top: 0.6em;
  margin-left: 1em;
  color:black;
}
.modal-body{
  text-align: justify;
}
#submit{
  background-color: rgba(187,202,121,1);
  font-family: Gotham-bold;
  border: 0
}
#footer{
  background: rgba(68,68,67,1);
  height: 8em;
}