extends admin-layout
block content
  section
    div.row.mt-4.mb-4
      h3 Eventos Creados
    div.row
      table.table
        thead
          tr
            th Id
            th Descripción
            th Link
            th Imagen
        tbody
          each event in events
            tr
              td= event.id
              td= event.description
              td= event.link
              td= event.image_path
              
            