extends admin-layout
block content
  br
  section.container.row
    div.col-3
      button.text- 
        a(href="/admin/events") Ver eventos cargados
    div.col-3
      button 
        a(href="/admin/events/new") Crear Evento
    div.col-3
      button 
        a(href="/admin/messages") Ver Mensajes recibidos
