html
  head
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy" crossorigin="anonymous">
    <link href="https://use.fontawesome.com/releases/v5.0.4/css/all.css" rel="stylesheet">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4" crossorigin="anonymous"></script>
    <script src="/js/index.js"></script>
    link(rel="stylesheet", href="/css/index.css")
  body
    section#crear-container.container-fluid
      div.row.align-items-center.justify-content-center
        div#crear-img-container.col-10
          img#crear-img(src="/img/crear-comunicar-impulsar.png")
    section#quienes-somos.container-fluid
      div.row
        div.col-4.offset-1#quienes-somos-descr-container
          h2.text-verde-oscuro ¿Quiénes somos? 
          p.text-justify.text-verde-oscuro Estamos conformados por un equipo de jóvenes profesionales que brindan asesoramiento y soporte a empresas hoteleras y gastronómicas en su mayoría
          br
          p.text-justify.text-verde-oscuro Nuestro objetivo es brindar un enlace con estrategias de Recursos Humanos y asesoría externa que le puedan dar mayor crecimiento y rendimiento a la empresa
          br
          p.text-justify.text-verde-oscuro Convencidos que el capital más importante que tiene una empresa son sus Recursos Humanos, es por ello que trabajamos y nos capacitamos para brindarles el mejor asesoramiento y la mejor capacitación para que profesionalices cada vez más el equipo de trabajo, de ellos depende el éxito de tu empresa
    section#que-hacemos.container-fluid
      div.row
        div.col-6.pl-0
          h2#que-hacemos-img.text-verde-oscuro ¿QUÉ HACEMOS?
      br
      br
      div.row#quienes-somos-descr
        div.col.offset-md-1
          h3.gotham-bold.quienes-somos-title.text-verde-oscuro CREAMOS
          ul.quienes-somos-ul.text-verde-oscuro
            li Experiencias
            li Ideas
            li Eventos
            li Negocios
            li Capacitaciones
        div.col
          h3.gotham-bold.quienes-somos-title.text-verde-oscuro COMUNICAMOS
          ul.quienes-somos-ul.text-verde-oscuro
            li Conocimientos
            li Información
            li Identidad Corporativa
            li Procesos
            li Propósitos
        div.col
          h3.quienes-somos-title.text-verde-oscuro IMPULSAMOS
          ul.quienes-somos-ul.text-verde-oscuro
            li Crecimiento
            li Desarrollo profesional
            li Emprendimientos
            li Equipos
            li Actividades
    section#equipo.container-fluid
      div.row
        div.col-4.pl-0
          h2#equipo-title EQUIPO
      div.row
        div.col.text-center
          img.img-fluid.rounded-circle(src="/img/gabriela-01.png")
          br
          h4 María Gabriela Amoros
          p.text-justify.equipo-text Especialista en Organización de Eventos Empresariales y sociales con más de 12 años de experiencia
          br
          p.text-justify.equipo-text Especialista en coaching Personal Docente y Capacitadora independiente en áreas de comunicación. Excelencia en atención al cliente, Organización de eventos, Trabajo en equipo y motivación, Ceremonial. Practitioner en PNL. Actualmente Directora y capacitadora de Know How asesoría y consultoría
        div.col.text-center
          img.img-fluid.rounded-circle(src="/img/diego-01.png")
          br
          h4 Diego Hernan Schroeder
          p.text-justify.equipo-text Especialista en Recursos Humanos, Desarrollo Organizacional y Gestión de Talentos con más de 10 años de experiencia en el rubro Gastronómico y Hotelero. Especialista en liquidación de sueldos. Analista Programador. Practitioner en PNL.
        div.col.text-center
          img.img-fluid.rounded-circle(src="/img/vanesa-01.png")
          br
          h4 Vanesa Antivero
          p.text-justify.equipo-text Diseñadora gráfica. Especialista en Identidad de marca y de empresas. Joven profesional, detallista y emprendedora, en busca de experiencias.
    section#partners.container-fluid
      br
      br
      div.row
        div.col-12
          h2.text-verde-oscuro#partners-title PARTNERS
      br
      br
      br
      div.row#partners-container
        img#partners-img(src="/img/partners.png", alt="")
        div.col
          img.img-fluid.rounded-circle(src="/img/bamboo.png", alt="")
          h4.text-center.text-verde-oscuro Bamboo Agencia de Marketing Integral
        div.col
          img.img-fluid.rounded-circle(src="/img/azucena.png", alt="")
          h4.text-center.text-verde-oscuro Azucena Ferreira Publicista
        div.col
          img.img-fluid.rounded-circle(src="/img/pablo.png", alt="")
          h4.text-center.text-verde-oscuro Pablo Kovacs
          h4.text-center.text-verde-oscuro Coaching and Mentoring
        div.col
          img.img-fluid.rounded-circle(src="/img/claudia.png", alt="")
          h4.text-center.text-verde-oscuro Claudia Lombardi Asesora de Imagen
    section#capacitaciones.container-fluid
      div.row
      br
      div.row#capacitaiones-title-container
        div.col-1
        div.col-5
          h2.text-verde-oscuro#capacitaciones-title PRÓXIMAS CAPACITACIONES
      br
      br
      br
      div.row 
        if (events && events.length)
          each event in events
            div.col.text-center
              a(href= event.link, target='_self')
                img.img-fluid.capacitaciones-img(src=event.image_path, alt="")
        else
          h3 No tenemos capacitaciones activas
        
    section#slider.container-fluid.p-0
      div#carouselExampleIndicators.carousel.slide(data-ride="carousel" data-interval="3000")
        ol.carousel-indicators
          li.active(data-target="#carouselExampleIndicators" data-slide-to="0")
          li(data-target="#carouselExampleIndicators" data-slide-to="1")
          li(data-target="#carouselExampleIndicators" data-slide-to="2")
        div.carousel-inner(role="listbox")
          div.carousel-item.active
            img.d-block.img-fluid(src="/img/slider-1.jpg")
          div.carousel-item
            img.d-block.img-fluid(src="/img/slider-2.jpg")
          div.carousel-item
            img.d-block.img-fluid(src="/img/slider-3.jpg")
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
    section#servicios.container-fluid
      div.row
        br
      div.row
        div.col-4#servicios-title
          h2.text-center.text-verde-oscuro.pt-2 SERVICIOS
      br
      br
      div.row
        div.col
          img.img-fluid.servicios-img(src="/img/cuadro-servicios.png", alt="",data-toggle="modal",data-target="#exampleModal")
          div.servicios-text-container
            div.servicios-text-align-container
              div.servicios-text-align
                div.text-center.service-link#asesoramiento-link Asesoramiento Legal
        div.col
          img.img-fluid(src="/img/cuadro-servicios.png", alt="")
          div.servicios-text-container
            div.servicios-text-align-container
              div.servicios-text-align
                div.text-center Gestión de rrhh de talentos
        div.col
          img.img-fluid(src="/img/cuadro-servicios.png", alt="")
          div.servicios-text-container#manuales-link
            div.servicios-text-align-container
              div.servicios-text-align
                div.text-center Manuales y procedimientos
          #manualesModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h5#manualesModal.modal-title Manuales y procedimientos
                  button.close(type='button', data-dismiss='modal', aria-label='Cerrar')
                    span(aria-hidden='true') ×
                .modal-body
                  | Para que toda empresa funcione y todos sus colaboradores sigan la misma línea, debemos proceder a elaborar Manuales y Procedimientos con los que vamos a trabajar y las descripciones de cada puesto. El contar con esto, nos ayudará a visualizar mejor las metas y objetivos de la empresa, de cada área, ayudarnos en la búsqueda y selección de nuestros colaboradores y en la guía diaria para el trabajo de los mismos. Es recomendable contar con un profesional de RRHH especializado para llevar a cabo este trabajo lo más efectivo posible
                .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
        div.col
          img.img-fluid(src="/img/cuadro-servicios.png", alt="")
          div.servicios-text-container#auditorias-link
            div.servicios-text-align-container
              div.servicios-text-align
                div.text-center Auditorías de calidad
          #auditoriasModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h5#auditoriasModal.modal-title Auditorías de calidad
                  button.close(type='button', data-dismiss='modal', aria-label='Cerrar')
                    span(aria-hidden='true') ×
                .modal-body
                  | El servicio de Mistery Shopper o Cliente Oculto, consiste en realizar un auditoría de calidad tanto de producto como de servicio y calidad en la atención al cliente basándonos en diferentes estándares de calidad de acuerdo al rubro y categoría de la empresa. Contamos con un equipo de profesionales con amplia experiencia en diferentes rubros que se harán pasar por tu cliente sin que tus empleados lo sepan y analizarán tus servicios, calidad de atención, oferta, mantenimiento de las instalaciones para verificar que todo funcione como debería ser de acuerdo a las normas, misión y visión de la Empresa. Luego del relevamiento se entrega un informe detallado con elementos positivos y negativos y posibles mejoras a aplicar. Se sugieren acciones tanto de aplicaciones de manuales como de capacitación de las líneas operativas, mandos medios y gerencias
                .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar

      div.row
        div.col
          img.img-fluid(src="/img/cuadro-servicios.png", alt="")
          div.servicios-text-container#reclutamiento-link
            div.servicios-text-align-container
              div.servicios-text-align
                div.text-center Selección y reclutamiento
          #reclutamientoModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h5#reclutamientoModal.modal-title Selección y reclutamiento
                  button.close(type='button', data-dismiss='modal', aria-label='Cerrar')
                    span(aria-hidden='true') ×
                .modal-body
                  br
                  p
                    | Selección y reclutamiento. Realizamos búsquedas para empresas de todos los rubros. Personal permanente y temporal
                  br
                  ul
                    li Proceso de la búsqueda
                    li Relevamiento de perfil
                    li Selección de medios y fuentes de reclutamiento (tradicionales y/o digitales)
                    li Preselección de CVs
                    li Entrevistas de selección individuales, técticas y/o grupales
                    li Exámenes psicotécnicos
                    li Presentación de la terna precalificada
                    li Elección del candidato finalista por parte del cliente
                .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
        div.col
          img.img-fluid(src="/img/cuadro-servicios.png", alt="")
          div.servicios-text-container#capacitaciones-link
            div.servicios-text-align-container
              div.servicios-text-align
                div.text-center Capacitaciones in Company y abiertas al público
          #capacitacionesModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h5#capacitacionesModal.modal-title Capacitaciones in Company y abiertas al público
                  button.close(type='button', data-dismiss='modal', aria-label='Cerrar')
                    span(aria-hidden='true') ×
                .modal-body
                  <ul class="modal-ul">
                    <li>Imagen</li>
                      <li>Ceremonial y Eventos</li>
                      <li>Servicio</li>
                      <li>Comunicación y RRPP</li>  
                      <li>Marketing y ventas</li>
                      <li>Liderazgo y Management</li>
                      <li>Coaching, PNL y Recursos Humanos</li>
                      <li>Formación de profesionales de OPE y Wedding Planner</li>
                      <li>Formación de Mozos Profesionales</li>
                  </ul>
                .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
        div.col
          img.img-fluid(src="/img/cuadro-servicios.png", alt="")
          div.servicios-text-container#eventos-link
            div.servicios-text-align-container
              div.servicios-text-align
                div.text-center Organización integral de eventos empresariales y congresos
          #eventosModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h5#eventosModal.modal-title Organización Integral de Eventos Corporativos, Congresos, Ferias y Convenciones
                  button.close(type='button', data-dismiss='modal', aria-label='Cerrar')
                    span(aria-hidden='true') ×
                .modal-body
                  br
                  p Somos un equipo de profesionales jóvenes con trayectoria en Planificación, Diseño y Organización de Eventos Sociales y Empresariales con más de 10 años de Experiencia en el rubro. Nos encargamos desde el primer minuto del evento hasta las evaluación final del mismo.
                  br
                  ul
                    li Diseño y planificación integral, coordinación, servicio de promotoras, asistentes o secretarias para eventos
                    li Manejo de las inscripciones de Congresos con Sede central fuera de Iguazú
                    li Gestión y proceso de Acredicaciones para eventos
                    li Diseño Gráfico integral de página web e identidad de los Congresos o Eventos Corporativos
                    li Contratación de proveedores
                .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
        div.col
          img.img-fluid(src="/img/cuadro-servicios.png", alt="")
          div.servicios-text-container#liquidaciones-link
            div.servicios-text-align-container
              div.servicios-text-align
                div.text-center Liquidación de sueldos
          #liquidacionesModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
            .modal-dialog(role='document')
              .modal-content
                .modal-header
                  h5#liquidacionesModal.modal-title Liquidación de sueldos
                  button.close(type='button', data-dismiss='modal', aria-label='Cerrar')
                    span(aria-hidden='true') ×
                .modal-body
                  <ul>
                    <li>Reducir costos, optimizar el espacio físico y obtener mayor confidencialidad son algunas de las razones por las cuales las empresas y pymes deciden tercerizar la liquidación de haberes</li>
                    <li>Permite reducir los costos en salarios a personal interno de la empresa, mantención de hardware y software, actualización legal y capacitaciones</li>
                    <li>Liquidación de haberes según CCT. Carga de Novedades. Haberes mensuales, vacaciones, liquidaciones finales</li>
                    <li>Generación de archivo para impresión de recibos, listado de pagos, archivo para depósito en banco</li>
                    <li>Generación de impuesto a las ganancias y Obligaciones sindicales</li>
                    <li>Generación de contribuciones patronales y libros ley</li>
                  </ul>
                .modal-footer
                  button.btn.btn-secondary(type='button', data-dismiss='modal') Cerrar
      br
      br
      br
      div.row
        div.col-4
          div.row
            div.col-12
              div#contacto-container
                h2#contacto-text.text-center.text-verde-oscuro CONTACTO
          br
          br
          div.row
            div.col-1
            div.col-1
              i.fas.fa-phone.fa-2x
            div.col-10  
              p.communication-channel-text +54 3757-459669
            div.col-1
            div.col-1
              i.fab.fa-facebook.fa-2x
            div.col-10  
              a(href="https://www.facebook.com/KnowHowConsultoriayCapacitaciones/")
                p.communication-channel-text /KnowHowConsultoríayCapacitaciones
            div.col-1
            div.col-1
              i.far.fa-envelope.fa-2x
            div.col-10
              p.communication-channel-text infokhow@gmail.com
            div.col-1
            div.col-1
              i.fab.fa-instagram.fa-2x
            div.col-10
              a(href="https://www.instagram.com/knowhowconsultoria/?hl=es")
                p.communication-channel-text /KnowHowConsultoría
            div.col-1
            div.col-1
              i.fab.fa-linkedin-in.fa-2x
            div.col-10  
              a(href='www.linkedin.com/in/know-how-092892118/') 
                p.communication-channel-text /know-how
        div.col-4
        div.col-4
          br
          br
          br
          br
          h2.text-center ESCRIBINOS
          div.text-center   
            img.text-center(src="/img/triangulo.png", alt="")
          form
            .form-group
              input#name.form-control(type='name', aria-describedby='nameHelp', placeholder='Nombre')
            .form-group
              input#email.form-control(type='email', placeholder='ejemplo@email.com')
            .form-group
              textarea#message.form-control(rows='3', placeholder='Tu mensaje')
            button#submit.btn.btn-primary(type='submit') Enviar
    section#footer.container-fluid
      div.row.justify-content-center
        div.col-3.text-center
          img(src="/img/logo.png", alt="")


