extends admin-layout

block content
  section
    div.container
      div.row.justify-content-center
        form.col-5(method="POST")
          fieldset.col-12
            div.row.mt-4
              label(for="username")
              input.col-12#username(type="text", name="username",placeholder="Usuario")
            div.row.mt-2
              label(for="password")
              input.col-12#username(type="password", name="password",placeholder="Contraseña")
            div.row.mt-2
              button(type="submit") Ingresar!