extends admin-layout

block content
	section.container
		div.row.justify-content-center
			form.col-5(method="POST")
				div.row.mt-4
					input.col-12#username(type="text", name="readable_name",placeholder="Nombre y Apellido")
				div.row.mt-2
					input.col-12#username(type="text", name="username",placeholder="Nombre de Usuario")
				div.row.mt-2
					input.col-12#username(type="password", name="password",placeholder="Contraseña")
				div.row.mt-2
					button(type="submit") Registrarse!